/* Add a black background color to the top navigation */
.topnav {
    background-color: #3D59AB;
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    box-shadow: 2px 2px 2px black;
  }

  #logo {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 6%;
    padding: 3px 30px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 2vw;
  }
   
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #b6b6b632;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  #top {
    background-image: url('../photos/edited7.png');
    background-position: center right;
    background-size: 100%;
    min-height: 290px;
    margin-bottom: 20px;
    text-align: left;
  }

  #top h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#000000;
    line-height: 40px;
    padding-top: 250px;
    padding-left: 50px;
    text-align: left;
    font-weight: 200;
  }

  body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
  }

  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    text-align: center;
  }

  h3 {
    font-size: 2.2vw;
  }

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
  }

  button {
    background-color: #04AA6D;
    padding: 12px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
  }

  .info {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
  }

  #pin {
    float: right;
  }

  .host {
    padding: 10px 30px;
    margin: 20px;
  }

  #hostpic {
    float: left;
    padding: 0px 20px; 
  }

  #hostpic2 {
    float: right;
    padding: 0px 20px; 
  }

  #subtext {
    float: right;
    font-weight: 100;
    font-size: small;
  } 

  .sequential {
    padding: 20px;
    margin: 20px;
    border: #000000;
    border-style: solid;
    border-width: 2px;
  }
  
  .sequential h4 {
    font-size: 1vw;
    float:left;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    
  }

  #warning {
    color: red;
    font-weight: 100;
    font-size: 1vw;
    text-align: center;
  }

  .footnote {
    background-color: #3D59AB;
    color:#f2f2f2;
    font-size: x-small;
    text-align: center;
    line-height: 10px;
    padding: 1em;
    margin-left: 0px;
    margin-right: 0px;
  }

  #github {
    width: 3%;
    float:right
  }


  #grouppic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .w3-display-container{
    position:relative
  }

  .w3-button{ 
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
  }

  .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
  .w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}

  .mySlides {display:none;}

  @media (max-width:600px){
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }